.odd-number
{
    background-color: #cb6091;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#para-2
{
    color: #2a35c6;
    font-size: 36px
}
.font
{
   font-size: 24px; 
}

#bold
{
    background-color: #6ccb60;
    font-weight: 1000;
}