body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("IMG_0777.JPG"); 
}

header {
  background-color: #333;
  padding: 10px 0;
}

.links {
  background-color: #f4f4f4;
  padding: 10px 0;
}

.links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.games {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.gameimage {
  width: 300px;
  height: auto;
  max-width: 300px;
}

.background {
  background-color: rgb(255, 116, 116);
  padding: 20px;
}
