.backround{
  background-color: #ff6464
}
.backroundindex{
  background-color: #6b4fff
}
* {
  color: whitesmoke;
  font-family: cursive;
  font-weight: 700;
}
.border {
  border: dashed 8px;
  color: blue
  }
.everythingelse {
  height: 55px;
  width: 370px;
  margin: 50px;
  padding: 15px;
  font-size: 40px;
  display: flex;
}
#indexheader {
  border: dotted;
    color: red;
}